@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

a,
.navbar-light .navbar-nav .nav-link {
  color: #5bc029;
  text-decoration: none;
}

a:hover {
  color: #2f6514;
}

.text-success {
  color: #5bc029 !important;
}

.text-justify {
  text-align: justify;
}

.bg-radial-white {
  background: radial-gradient(50% 50% at 50% 50%,
      #ffffff 21.67%,
      rgba(255, 255, 255, 0) 100%);
}

.bg-success {
  background-color: #5BC029 !important;
}

.rounded-4 {
  border-radius: 2.5em;
}

#header .nav-link {
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.main-navbar {
  border-bottom: 4px solid #5bc029;
}

.login-register {
  border-left: 1px solid #5bc029;
  padding-left: 1em;
  margin-left: 0.6em;
}

/* HOMEPAGE */
.bg-product-img-slider {
  /* background: linear-gradient(31.85deg, #32c1b9 -32.26%, #92fff8 102.1%); */
  background: radial-gradient(48.9% 48.9% at 50% 50%, #76fff7 0%, #f7ffff 100%);
}

#carouselProducts .carousel-indicators [data-bs-target] {
  background-color: #5bc029;
}

#carouselProducts .carousel-indicators {
  /* margin-left: 20%!important; */
}

#carouselProducts .carousel-inner {
  background: radial-gradient(40.76% 124.26% at 28.82% 50%,
      #ffffff 0%,
      #e8feff 100%);
}

#carousel-testimony .carousel-inner {
  background-color: #d9d9d9;
}

/* END HOMEPAGE */

/* About Page */
.banner {
  height: 85vh;
}

/* End About Page */

/* Contact Page */
.social-chat {
  border-left: 2px solid #5bc029;
}

.contact-list:not(:first-child):not(:last-child) {
  border-left: 2px solid #5bc029;
  border-right: 2px solid #5bc029;
}

/* Networking */
.member-benefits {
  margin-bottom: -50px;
}

#rewards {
  position: relative;
  z-index: 2;
}

.scroll-lists {
  border-radius: 40px;
  height: 441px;
  overflow-y: scroll;
  position: relative;
  z-index: 1;
}

.list {
  background-color: #fff;
  border-radius: 25px;
  padding: 2em;
  margin-bottom: 20px;
}

.divider-img {
  width: 100%;
  height: 130px;
  overflow: hidden;
}

.divider-img-height {
  width: 100%;
  height: 267px;
  overflow: hidden;
}

.divider-img-height img {
  height: 100%;
  object-fit: cover;
}

.gifts-img {
  border-radius: 40px;
}

/* End Networking */

/* Product Lists */
.product {
  border-radius: 20px;
}

/* Product Details */
.product-nav .nav-link {
  color: #111;
  font-weight: bold;
  text-transform: uppercase;
}

.product-detail {
  background: radial-gradient(50% 68.01% at 50% 50%, #ffffff 0%, #ebfffe 100%);
  /*height: 700px;*/
}

#product-details .product-img {
  /*margin-left: -100px;
  margin-right: -100px;*/
}

span.product-num {
  font-size: 128px;
  margin-right: 15px;
}

.product-concept-card {
  margin-top: -220px;
  background: #fff;
  border-radius: 40px;
}



.product-concept-card-body {
  /* padding: 4em; */
}

.product-concept-card-circle {
  height: 284px;
  width: 284px;
  border-radius: 50%;
  border: 6px solid #5bc029;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 2em;
}

.product-faq-header {}

.product-faq-header:after {
  border-bottom: 4px solid #5bc029;
  content: " ";
  width: 100%;
  display: block;
  margin-top: -26px;
}

.product-faq-header h2 {
  display: inline-block;
  background: #fff;
  padding: 0 2em;
}

/* End Product Details */

/* Join Us */
#join-us {
  height: 700px;
}

.oportunities-header {
  background: linear-gradient(270deg, #e0ae93 0%, #cd7e54 100%);
}

/* -------------- */

#do-dont {
  background-color: #e3ffff;
}

#do-dont li {
  list-style-position: inside;
}

/* FOOTER */
#footer {
  border-top: 8px solid #5bc029;
}

#footer .widget h5 {
  color: #5bc029;
}

#footer .widget ul {
  padding-left: 0;
}

#footer .widget ul li {
  list-style: none;
  padding-bottom: 0.5em;
}

#footer .widget ul li a {
  color: #333;
}

.footer-copyright {
  border-top: 3px solid #5bc029;
}

/* END FOOTER */

/* Custom Button */

.btn-success {
  color: #fff;
  background-color: #5bc029;
  border-color: #5bc029;
}

.btn-success:hover {
  color: #fff;
  background-color: #5bc029;
  border-color: #5bc029;
}

.btn-check:focus+.btn-success,
.btn-success:focus {
  color: #fff;
  background-color: #5bc029;
  border-color: #5bc029;
  box-shadow: 0 0 0 0.25rem #5bc029;
}

.btn-check:checked+.btn-success,
.btn-check:active+.btn-success,
.btn-success:active,
.btn-success.active,
.show>.btn-success.dropdown-toggle {
  color: #fff;
  background-color: #5bc029;
  border-color: #5bc029;
}

.btn-check:checked+.btn-success:focus,
.btn-check:active+.btn-success:focus,
.btn-success:active:focus,
.btn-success.active:focus,
.show>.btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #5bc029;
}

.btn-success:disabled,
.btn-success.disabled {
  color: #fff;
  background-color: #5bc029;
  border-color: #5bc029;
}

.btn-outline-success {
  color: #5bc029;
  border-color: #5bc029;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #5bc029;
  border-color: #5bc029;
}

.btn-check:focus+.btn-outline-success,
.btn-outline-success:focus {
  box-shadow: 0 0 0 0.25rem #5bc029;
}

.btn-check:checked+.btn-outline-success,
.btn-check:active+.btn-outline-success,
.btn-outline-success:active,
.btn-outline-success.active,
.btn-outline-success.dropdown-toggle.show {
  color: #fff;
  background-color: #5bc029;
  border-color: #5bc029;
}

.btn-check:checked+.btn-outline-success:focus,
.btn-check:active+.btn-outline-success:focus,
.btn-outline-success:active:focus,
.btn-outline-success.active:focus,
.btn-outline-success.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
}

.btn-outline-success:disabled,
.btn-outline-success.disabled {
  color: #5bc029;
  background-color: transparent;
}

/* Checkout */
.checkout.sticky-top {
  top: 60px;
  z-index: 1010;
}

span.divider-dot:before {
  content: "";
  width: 7px;
  height: 7px;
  background: #817e7e;
  display: block;
  border-radius: 50%;
}

.form-control,
.input-group,
.bank-detail {
  border-radius: 12px;
  box-shadow: inset 1px 1px 10px #e7e7e7;
}

.input-group .form-control {
  box-shadow: none;
}

.d-none {
  transition: all 0.2s ease-out;
}

#credit-card-detail.hide,
#bank-detail.hide {
  display: none !important;
  transition: all ease-in 1s;
}

#credit-card-detail.hide.show {
  display: block !important;
}

#bank-detail.hide.show {
  display: flex !important;
}

.checkout-step a.active {
  font-weight: bold;
}

.checkout-form .card {
  border-radius: 25px;
}

.btn {
  border-radius: 15px;
}

.checkout-prev a {
  text-decoration: none;
  color: #aaa;
}

.card.form-login {
  border-radius: 15px;
}

.register-logo.sticky-top {
  top: 100px;
}

@media (max-width:768px) {
  .product-concept-card {
    margin-top: 0;
  }

  .bg-dot {
    background: none !important;
  }
}

.about-title {
  /* background: #fff; */
  margin-top: -43px;
  /* width: auto; */
  margin-bottom: 50px;
}

.about-title h2 {
  display: inline;
  background: #fff;
  padding: 10px 20px;
  border-left: 3px solid #5bc029;
  border-radius: 10px 10px 0 0;
}

.about-card .card-img-overlay {
  opacity: 0;
}

.about-card:hover .card-img-overlay {
  opacity: 1;
  background: rgba(255, 255, 255, 0.75);
  transition: opacity ease .5s;
}

.judul {
  border-radius: 0 25px 0 0;
}


.visi-misi-content .icon {
  /* border: 7px solid #5BC029; */
  width: 250px;
  margin-right: -52px;
  height: 250px;
  position: absolute;
  bottom: -20px;
  left: -90px;
  background: #fff;
  z-index: 1;
}

.visi-misi {
  border-radius: 30px;
  /* height: 170px; */
  display: flex;
  /* align-items: end; */
  margin-bottom: 150px;
  z-index: 3;
  position: relative;
}

.icon-back {
  width: 270px;
  height: 270px;
  position: absolute;
  bottom: -30px;
  left: -112px;
  background: #5BC029;
  z-index: 0;
  border-radius: 50%;
}

@media (max-width: 425px) {
  .visi-misi-content .icon {
    border: 7px solid #5BC029;
    width: 200px;
    margin-right: -52px;
    height: 200px;
    position: static;
    /* bottom: -20px; */
    /* left: -90px; */
    background: #fff;
    z-index: 1;
    margin: 10px auto;
  }

  .icon-back {
    display: none;
  }
}